<template>
  <div class="home"></div>
</template>

<script>
// @ is an alias to /src

export default {
  // View Home
  // Acts as a holder for DatasetView.
  name: 'Home',
  components: {}
}
</script>
