<template>
  <div class="sticks">
    <Stick v-for="id in stickIDs" :key="id" :stickID="id" />
  </div>
</template>

<script>
import Stick from '@/components/Stick.vue'

export default {
  // Component Sticks
  // Holds all the Sticks. Points at the currently active Stick.
  name: 'Sticks',
  components: {
    Stick
  },
  computed: {
    stickIDs() {
      return this.$store.getters.stickIDs
    }
  }
}
</script>

<style lang="scss" scoped>
.sticks {
  display: grid;
  row-gap: 5px;
}
</style>
